

.sortable:active{
  background-color: grey;;
}
.sortable:hover{
    cursor: pointer;
}
.dyno-table{
    margin: 5rem auto;
}
.dyno-table > *{
    padding: 1rem;
}
.dyno-table-head-row{
    background-color: rgb(110, 110, 110);
    color: white;
}
.sm-grey{
    float: right;
    text-align: right;
    color: white;
    font-size: smaller;
    margin-right: 10px;
}
